<!-- Gitalk start -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.4.1/gitalk.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.4.1/gitalk.min.js"></script>
<script type="text/javascript">
const gitalk = new Gitalk({
  clientID: '{{ site.gitalk.client_id }}',
  clientSecret: '{{ site.gitalk.secret }}',
  repo: '{{ site.gitalk.repo }}',
  owner: '{{ site.owner.github }}',
  admin: ['{{ site.owner.github }}'],
  id: '{{ page.url }}',
  distractionFreeMode: true
})
gitalk.render('gitalk-container')
</script> 
<!-- Gitalk end -->